* {
    margin: 0;
    padding: 0;
    object-fit: contain;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 1px black;
    border-radius: 5px;
}

h1, h2 {
    padding: 0px 10px;
    color: red;
}

h2 {
    font-family: 'Lucida Handwriting';
    padding: 10px;
    color: black;
}

#form-div{
    width: 100vw;
    height: 60%;
}

#form {
    margin: 10% auto;
    width: 100%;
    min-height: 50%;
    display: flex;
    place-items: center;
    place-content: center;
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    width: 100px;
    max-width: 25%;
    max-height: 50%;
    box-shadow: 0px 0px 10px 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

label {
    text-align: center;
    width: 100%;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input[type="text"] {
    margin-top: 5px;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 30%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 25px;
    padding: 10px 10px;
    text-align: center;
}

input[type="file"] {
    text-align: center;
    position: relative;
    visibility: hidden;
    width: 100%;
}

input[type="file"]::before {
    content: " Choose your file ";
    font-size: 24px;
    left: 25%;
    visibility: visible;
    position: relative;
    border-left: 10px solid black;
    border-right: 10px solid black;
    margin: 5px;
    color: yellow;
    min-height: 40px;
    object-fit: cover;
    background: rgba(0,0,0, 0.5);
    border-radius: 25px;
}

button {
    margin-top: 10px;
    padding: 10px 0;
    width: 25%;
    border-radius: 25px;
    background-color: rgba(0,125,0,0.3);
    transition: 0.25s linear;
    border: 2px rgb(0,200,0) solid;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button:hover {
    background-color: rgba(0,255,0,1);
}

#fileName {
    font-size: 18px;
    color: red;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

.show {
    display: block;
}
.hide {
    display: none;
}

#loading-bar {
    width: 15%;
    font-size: 20px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(5deg,red,yellow,red,yellow);
    animation: progress 2s infinite;
    border-radius: 25px;
    font-weight: 600;
}

@keyframes progress {
    0%{
        background-image: linear-gradient(45deg,red,yellow,red,yellow,red,yellow,red,yellow,red,yellow,red,yellow);
    }
    75% {
        background-image: linear-gradient(45deg,yellow,red,yellow,red,yellow,red,yellow,red,yellow,red,yellow,red);
    }
    100%{
        background-image: linear-gradient(45deg,red,yellow,red,yellow,red,yellow,red,yellow,red,yellow,red,yellow);  
    }
}

@media only screen and (max-width:632px) {
    form {
        max-width: 100%;
    }
    input[type="file"]::before {
        left: 21%;
    }
}